[2021-10-19 08:11] jelledruyts opened #10 "Consider building on top of "Microsoft Assessments" (like Well Architected Review)?"
See https://docs.microsoft.com/en-us/assessments/. This way customers can also self-serve? Checklists JSON could possibly be consumed from (or pushed to) that platform?

[2021-10-19 08:14] jelledruyts opened #11 "Consider generating the "latest and greatest" Excel files from the json from a GitHub actions pipeline"
VBA macros or Office addins are a (slight) burden on users of the Excel, perhaps generating the latest version of the Excel (in multiple languages for different technologies) could simplify "consumption" of the Excel sheet?

[2021-10-19 08:47] rjfmachado opened #12 "Create formal releases where we can have change history and notifications"
Using GitHub Releases can be a great way of "capturing" a point in time version that can be distributed formally. Also enables notifications for those tracking the project.

[2021-10-19 08:54] xstof opened #13 "Consider a macro-free approach to the Excel-design"
Excel does support Power Query, which is a capability that can be used to use for example an external json file as a datasource.  Power Query can pull in the json, massage the data and make it available in certain tables.  This would avoid having to deal with macro's.  The user action is then a simple push on the "refresh" button.  Happy to try this out when I get some bandwidth.

[2021-10-19 11:27] #12 closed, assigned to nobody

[2021-10-19 11:28] erjosito commented on #11
Great point @jelledruyts ! I thought about that, but I was not able to find an easy way of generating Excel files with Github actions. Do you have any idea of how to do that?

[2021-10-19 13:14] r-henriques commented on #13
@xstof An option here could be to leverage Excel JS add-ins, which are deployable through the Office Store. Never tried it but assuming we can make http requests from an add-in this might be a clean way to do this.

https://docs.microsoft.com/en-us/office/dev/add-ins/reference/overview/excel-add-ins-reference-overview

Relying on HTML and JS could even make it reusable, i.e. hostable in Excel or a

[2021-10-20 06:56] jelledruyts commented on #11
I assume there would be some coding involved :-) Not the end of the world but first of all no point in going this route if the ideal end state isn't excel but some custom web app or Microsoft Assessments or whatever. And perhaps @xstof's no-code idea of using PowerQuery would be even better if you can pull that off!

[2021-10-20 07:13] erjosito opened #14 "HTML-based presentation layer"
@seenu433 Thanks for your suggestion on building an HTML layer!

***My thought is to consider a json to html formatting (something like [this](https://marianoguerra.github.io/json.human.js/)) so that it could be all within***

It would be fantastic if we could create a static HTML "app", ideally that allowed users not only to view the table, but to fill it in and save the result somewhere.

[2021-10-21 07:33] erjosito commented on #10
@DanielLarsenNZ and @jelledruyts would you like to take the lead here and check with David Stanford how we can work together?

[2021-10-24 08:21] erjosito opened #20 "Sample spreadsheet tech/language selection misleading"
Selecting which tech/language in the sample spreadsheet uses global variables in the sample spreadsheet, that are set the first time an option is clicked. If the user starts the spreadsheet and clicks the download button, the content of the global variables could be different than the value of the options

[2021-10-24 08:26] erjosito opened #21 "Use custom translators"
Potentially an Azure [Custom Translator](https://docs.microsoft.com/azure/cognitive-services/translator/custom-translator/overview) could be used to improve the translation quality

[2021-10-25 14:26] JasonBeck2 opened #22 "Language Support for Spanish"

[2021-10-25 14:26] JasonBeck2 opened #23 "Language Support for Brazilian Portuguese"

[2021-10-26 08:45] #23 closed, assigned to nobody

[2021-10-26 08:51] #22 closed, assigned to nobody

[2021-10-27 10:44] erjosito opened #29 "Duplicate content in `samples` folder"
`sample` folder to be removed when links from ftawiki are updated

[2021-10-28 07:54] erjosito opened #33 "Graph report not scalable"
The existing script checklist_graph.sh produces output that can be inserted into the "Comments" field of the review spreadsheet, but it is not scalable:

- The compliant/non-compliant resources are marked with the short syntax <rg>/<name>, for readability purposes. This is fine for small environments, but normally you would want the full ARM ID of the resources
- The script doesnt support running

[2021-11-03 11:11] rjfmachado opened #35 "Support.md needs to be reviewed and updated for public audience"
https://github.com/Azure/review-checklists/blob/main/SUPPORT.md is not updated

[2021-11-04 14:25] igorpag opened #37 "Missing "Comment" attribute in the AVD JSON checklist"
In the original format of AVD XLSX checklist, we populated a column "Comment" with useful information.
There is value in reporting that content, then I would recommend to take back the content from the original XLSZ file and use to add an additional attribute to each JSON fragment.

[2021-11-04 14:29] igorpag opened #38 ""Question" or "Checklist Item"?"
Many entries in all checklist are not in a verbal format that can be identified as a "Question".
For this reason, I would propose to change the name of the 3rd column in the sheet, from "Question" to something like "Checklist Item" or "Controls" or "Item to Check".

[2021-11-08 07:31] erjosito commented on #29
Samples folder deleted, content distributed to other folders. Links in ftawiki should have been updated by now

[2021-11-08 07:31] #29 closed

[2021-11-08 07:38] #38 closed

[2021-11-08 07:42] erjosito commented on #37
Hey @igorpag thanks for opening this! My understanding is that the "Comment" column would be used when filling up the spreadsheet when performing the actual review. Is that different with the AVD checklist?

If not, what is the use case here? Saving the progress of a review in JSON format? (the recommended process today would be saving the progress of a review in .xlsx format)

[2021-11-08 07:57] erjosito commented on #35
Created a first version of it (and of `CONTRIBUTING.md`, now that I was at it).

[2021-11-08 07:57] #35 closed

[2021-11-08 10:31] igorpag commented on #37
Yes, it is a bit different. We need a field to contain "our" comments to explain more in depth what a "checklist item" is, and provide some more guidance beyond the a simple URL pointing to an article.  A simple title and a URL does not IMO always provide enough to the customer. Let me share with you via mail a sample and a print screen to better explain.

[2021-11-08 13:38] BeatrizSilv opened #45 "Clarification on the rationale behind Governance recommendation."
Under Security Governance and Compliance:
**'Use Azure Policy to control resource provider registrations at the subscription and/or management group levels'**

In a recent call with a customer the feedback we got about this guideline was that the rationale behind it wasn't very clear and that it was too specific. Plus, it seems like there is no actual built-in policy to achieve this, so customers

[2021-11-09 13:25] erjosito opened #47 "Configure "Wrap text" in "Checklist item" column"
Today the elements in the Checklist item column can extend into the next column (Description). The good thing about that is that for the LZ and AKS checklists (which dont have a Description field today), the "Checklist item" text can extend and cover the description cell, which makes it more readable. The downside is that engineers might be confused and fill in the description field instead of the

[2021-11-09 13:25] erjosito commented on #45
@alejandra8481 @JasonBeck2 do you know more about that particular recommendation?

[2021-11-09 14:43] JasonBeck2 commented on #45
I found the recommendation taken from [this security and compliance recommendations page](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/enterprise-scale/security-governance-and-compliance) and I believe I found more information on it from [this page about creating subscriptions](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/initi

[2021-11-09 15:18] erjosito commented on #33
`checklist_graph.sh` supports now the `--management-group=<>` and the `--format=long` options, now the spreadsheet should be able to import the results in the long format

[2021-11-09 16:46] BeatrizSilv commented on #45
My 2 cents on this: perhaps we can consider lowering the severity because you can already control what resources/skus cannot be deployed with Azure policy, without having to affect resource provider registrations, so to me at least it sounds a little like overkill.

Maybe it can be phrased as more of a suggestion (if a customer has a very strict security/cost management posture consider leveraging

[2021-11-10 07:56] #20 closed

[2021-11-10 09:46] erjosito commented on #37
Fixed now, we have added a description column to the spreadsheet

[2021-11-10 09:46] #37 closed

[2021-11-12 10:31] erjosito commented on #33
Long format now supported when importing graph query results

[2021-11-12 10:31] #33 closed

[2021-11-19 18:50] JasonBeck2 commented on #45
Closing this as the previous changes have been merged.

[2021-11-19 18:50] #45 closed

[2021-11-22 11:55] fskelly opened #65 ""Deploy to Azure" button to be created"
Work on a simple "deploy to azure" button.
Work started and base code ready for existing container.

[2021-11-23 10:39] fskelly commented on #65
Example below,

[![Deploy to Azure](https://aka.ms/deploytoazurebutton)](https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Ffskelly%2Fflkelly-AzureCode-bicep%2FfunctionApp%2Fexamples%2Faci%2Fmain.json)

Links to an existing ARM template - compiled from bicep

Bicep Example available

Ask:
Need a compiled ACI to test with......

[2021-11-24 06:42] erjosito opened #68 "VBA not working in Excel for MacOS"
The VBA code is not working for Mac OS X. There are some minor issues (like environment variables having different names, but the main problem is that the "Microsoft Scripting Runtime" is apparently not available in Office for Mac. This runtime is required to work with objects like dictionaries, which are required to process the JSON code.

[2021-11-25 17:50] chboudry commented on #47
Can't we remove the description column in those checklist ? or put it on the far right ?
Doesn't seem as useul as in the other checklist.

[2021-11-25 17:56] chboudry opened #71 "LZ checklist - Wrap experience not consistent along items"
While most of the items are not wrapped in the LZ list, some of them are :

Ensure, for new large or global network deployments in Azure where you need global transit connectivity across Azure regions and on-premises locations, use virtual WAN

Use a Virtual WAN hub per Azure region to connect multiple landing zones together across Azure regions via a common global Azure Virtual WAN.

When low lat

[2021-11-25 17:58] chboudry opened #72 "Design - Import button hard to spot"
![image](https://user-images.githubusercontent.com/51988290/143485649-55106763-7117-451a-8a8f-7c606f1c3a85.png)

I actually had a hard time to see the import button -_-‘
The advanced one’s pop so much to the eyes and because of that the one in the easy box is easy to miss, I would suggest grouping the buttons all together

[2021-11-26 13:24] erjosito commented on #72
Is it better now?

[2021-11-26 13:27] erjosito commented on #71
Thanks for spotting this! Do you mean the actual JSON content, or the formatting in the XLS spreadsheet? If it is the actual content, could I ask you pretty please to open a PR to fix it? :-)

[2021-11-26 13:42] chboudry commented on #71
This is in Excel.
I looked in the json but I don't think this is a parameter per item ? do you have a schema file ?

[2021-11-29 08:28] erjosito commented on #72
Closing as fixed

[2021-11-29 08:28] #72 closed

[2021-11-29 14:53] erjosito opened #76 "Translators break JSON structure"
Translators break JSON structure of the original file. They could be fixed by running this jq query:

cat ./aks_checklist.es.json | jq '. |= . + {"severities": [ .severities[] ] } + {"status": [ .status[] ] } + {"categories": [ .categories[] ] } + {"items": [ .items[] ] }'

[2021-12-03 09:50] fskelly opened #79 "Aplication layout / architecture to be created for Container pieces"
Creation of a mini Architecture diagram

[2021-12-03 09:51] fskelly opened #80 "Can we create a Managed Identity as part of a bicep deployment"
Investigate the use of managed identity within Bicep

[2021-12-08 09:40] fskelly commented on #79
Architecture diagram added for Flask WebApp

[2021-12-08 09:40] #79 closed

[2021-12-09 08:30] #80 closed

[2021-12-10 17:14] BeatrizSilv opened #89 "Incomplete recommendations"
Hello,

The following two recommendations are missing some details:

**Network Topology and Connectivity -> Virtual WAN:**
Recommendation 50 simply says '**Follow the principle**'.

**Network Topology and Connectivity -> Hub and spoke**
Recommendation 56 says '**Consider a network design based on the traditional hub-and-spoke network topology for the following scenarios**', but doesn't actually sp

[2021-12-13 08:47] erjosito commented on #89
Good catch Beatriz! I think this might have got lost in the initial copy and paste. Let me have a look...

[2021-12-13 10:37] erjosito opened #92 "Translate Github action too limited"
The existing Github action has some limitations:

- It doesnt support the `category` parameter for Azure Translator, hence it will not work with custom translators
- It doesnt support specifying a list of JSON keys that should not be translated (such as the Azure Resource Graph queries)
- It changes the JSON structure, and transforms arrays into dictionaries, which makes processing of English and

[2021-12-13 10:40] erjosito commented on #76
This defect could be tracked in #92 , I will leave this open too for the time being

[2022-01-07 08:19] infosatheesh2020 opened #96 "AKS Checklist clarifications"
Recommendation item:

1. If using Azure Disks and AZs, consider dedicating nodes per AZ and WaitForFirstConsumer

The details provided doesn't have adequate clarification on how to dedicate nodes per AZ, and how setting WaitForFirstConsumer will behave (Eg: Will the disk created be pinned in same zone as the VM, and the subsequent pods sharing the PVC scheduled in same zone?) More clarity would be

[2022-01-12 17:58] #89 closed

[2022-01-18 16:14] erjosito commented on #96
Hey @infosatheesh2020 thanks for the feedback! The checklist is not supposed to replace Azure Docs, just provide some hints, plus an additional link to Azure Docs where more information is available.

Taking that into account, it would be great if you could send a PR on suggested modifications to the list :-)

Thanks!

[2022-01-19 08:43] igorpag opened #105 "Clarify how to add a new item in the JSON file and the role of GUID"
@erjosito correct me if I'm wrong and missed any part, but there is no clear step-by-step on how to add a new element in a checklist JSON file. I remember when you explained me the role of GUID attribute, and how to generate using one of the 1,000,000 tool/script, so trivial ok, but that piece should be documented somewhere, right?

[2022-01-19 12:03] erjosito commented on #105
Thanks for bringing this up! I moved up the contribution section in README.md, and added some more detailed instructions in CONTRIBUTING.md. Is it any better now?

[2022-01-19 12:52] igorpag commented on #105
You rock man! Lower SLA on response than a 64 node cluster!

[2022-01-19 15:00] erjosito commented on #105
Ha ha, I think that means we can close this one. Thanks again for the feedback, keep it coming!

[2022-01-19 15:00] #105 closed

[2022-01-25 08:50] infosatheesh2020 commented on #96
@erjosito Have submitted PR to resolve this issue. Please review.

[2022-01-26 11:34] julie-ng commented on #105
@erjosito related to this, is the JSON schema documented anywhere? It would be better if it was closest to the JSON file itself.

I'm looking for something like this
https://github.com/adobe/jsonschema2md/blob/main/examples/docs/abstract-definitions-first.md

[2022-01-26 15:42] erjosito commented on #105
Good point! Would you be so kind as to send a PR? ;-)

[2022-01-28 10:13] erjosito commented on #96
Hey @infosatheesh2020 thanks a lot for the PR, really appreciate it! I added a few comments to #110  , could you please check? Thanks!

[2022-01-28 13:08] infosatheesh2020 commented on #96
@erjosito Comments are missing. Did you forgot submitting it?

[2022-01-28 13:54] erjosito commented on #96
oops. Now they are in :-)

[2022-01-28 13:55] erjosito commented on #96
Including @seenu433 FYI

[2022-01-28 15:08] dcaddick opened #112 "checklist_graph.sh"
Hi Jose,

I can see the intent & massive value of being able to check for these values/settings programmatically and would love to help.
As much as I can get this to work correctly as stated in the README in the Az CLI - however I'm not sure what it's doing?

Where can I find more info or an example of how to get this working in checking "specific" components?
Or am I not understanding how the GUI

[2022-01-29 03:17] infosatheesh2020 commented on #96
@erjosito Updated as per comments. Thanks!

[2022-02-02 17:01] #96 closed

[2022-02-02 17:13] erjosito commented on #112
Hey Dave, I have updated https://github.com/Azure/review-checklists/tree/main/scripts#basic-usage to describe the basic usage, which would consists of generating a JSON file with the script, and importing the JSON file into the spreadsheet. The example uses the AKS checklist, since it is the one with most Graph queries documented.

If you wish to contribute, generating some of the queries for the

[2022-02-02 17:14] erjosito commented on #112
BTW, to your question: the GUIDs are used in the import operation, to match the Azure Resource Graph output to each individual test in the spreadsheet.

[2022-02-04 08:43] fskelly opened #115 "Customer feedback regarding wording in the checklist"
Modifying a wording of a few items within the checklist based upon customer feedback,
Questions or statements should be more clear.

[2022-02-07 17:07] #115 closed

[2022-02-08 02:23] ravibak opened #118 "Scenarios where Macros are disabled."
Perhaps we could add a note that Macros are required and if customer dont allow or have it disabled, they could wait for web based version which is in progress ?

[2022-02-08 08:14] erjosito commented on #118
Hey @ravibak thanks for the feedback! I believe this one is a duplicate of #13 . There are two possible solutions that we are envisioning to solve this:

#11 : building a pipeline that generates macro-free workbooks. AFAIK nobody is working on this, if you have an idea feel free to contribute here
#14 : creating a web-based frontend that replaces the spreadsheet. We have a prototype of this in the

[2022-02-08 08:21] erjosito commented on #47
Oops, I missed this one, sorry @chboudry . The feedback of the AVD team is that the description should be next to the checklist text, since those fields go hand in hand.

[2022-02-08 08:21] #47 closed

[2022-02-08 08:28] erjosito opened #119 "Support tradeoff decisions"
Today the checklists include binary recommendations, for example "configure egress traffic through a NGFW". However, design decisions are often a tradeoff between different aspects of a design, and following a certain recommendation might increase one, but decrease another one. For example, injecting an AzFW increases security, but impacts negatively the cost and complexity of the design. Hence, d

[2022-02-09 10:49] sijday opened #120 "parse error: Invalid escape at line 285, column 436"
Hello,
I am attempting to use checklist_graph.sh on a Linux VM and connecting to my tenant/subs using Azure CLI.
When running the script the following error occurs:

parse error: Invalid escape at line 285, column 436

[2022-02-15 08:05] ravibak opened #122 "Statement/Disclaimer around sign-off or endorsement of a landing zone/design document"
Should we add a statement in welcome page or in disclaimer stating that these spreadsheets/reviews are by no mean a signoff/endorsement of customer/partners landing zone or any other designs ?

[2022-02-16 06:32] DanielLarsenNZ commented on #11
Happy to have a go at this during FTA Hack week

[2022-02-16 15:27] erjosito commented on #120
Hey @sijday thanks for logging the issue! For reference, line 285 is this:

[code]

I haven't been to repro using bash or zsh. @sijday, which shell are you using? (you can verify with `echo $SHELL`).

Something interesting is that your error message says `invalid escape`, but I don't see any escape character in the previous line. @sijday, could you confirm that line 285 of your script looks exactl

[2022-02-16 19:39] sijday commented on #120
Hello Jose,
Yes the line is the same in the script I have downloaded. I'm using bash.
I wondered whether the issue is with a character in one of the variable values.
Thanks,
Simon.

[2022-02-17 00:17] ravibak commented on #122
Thanks Jose! Will add it

From: Jose Moreno ***@***.***>
Sent: Wednesday, February 16, 2022 11:04 PM
To: Azure/review-checklists ***@***.***>
Cc: Ravi Bakamwar ***@***.***>; Author ***@***.***>
Subject: Re: [Azure/review-checklists] Statement/Disclaimer around sign-off or endorsement of a landing zone/design document (Issue #122)

Good idea Ravi! Would you add it to the section in https://github.c

[2022-02-17 09:42] erjosito commented on #122
I guess we can close this. Thanks @ravibak !

[2022-02-17 09:42] #122 closed

[2022-02-17 09:43] erjosito commented on #118
Closing as duplicate

[2022-02-17 09:43] #118 closed

[2022-02-17 16:51] sijday commented on #120
Here you go. I did also check separately that the vm could access the checklist url to check it wasn't an issue there.
`./checklist_graph.sh --technology=lz --list-categories --debug
DEBUG: Getting checklist from https://raw.githubusercontent.com/Azure/review-checklists/main/checklists/lz_checklist.en.json...
parse error: Invalid escape at line 285, column 436
0: - `

[2022-02-18 13:29] dgancedo commented on #120
I had the same problem and I've manage to workaround it downloading the lz_checklist.en.json and modifying the regex on lines 285 and 286 from @'^(?:10|127|172\\.(?:1[6-9]|2[0-9]|3[01])|192\\.168)\\..*' to @'^(?:10|127|172\\.(?:1[6-9]|2[0-9]|3[01])|192\\.168)\\.'

[2022-02-18 13:58] erjosito commented on #120
Ah, that makes it much more clear. The problem is not in the script, but in the actual query documented in the LZ checklist. I have changed the escape characters in the LZ query so that they dont break when being processed. However, please be aware that the queries in the LZ checklist are not validated yet, this is an area where contributions would be highly appreciated.

[2022-02-18 14:00] erjosito commented on #120
@dgancedo sorry now I see your note. I used `\\\\` in the checklist and that seemed to do the trick for me. Let me check by removing the asterisk...

[2022-02-18 14:19] sijday commented on #120
@erjosito @dgancedo thanks I’ll give it another try

[2022-02-18 23:07] dcaddick commented on #112
No problems at all thanks Jose

On Fri, 18 Feb 2022 at 10:05 pm, Jose Moreno ***@***.***>
wrote:

--
Regards,
Dave Caddick

[2022-02-21 12:44] #112 closed

[2022-02-21 14:39] DeanGross opened #126 "Similar document for M365"
Is there a similar tool for M365?

[2022-02-24 11:30] sijday commented on #120
@erjosito how is it best to contribute graph queries as we refine them?

[2022-02-24 11:32] erjosito commented on #120
Any contribution would be highly appreciated :-)

[2022-02-24 17:49] erjosito commented on #126
No idea, this repo has been created by Azure engineers, who are in a whole different Microsoft organization than M365.

[2022-02-25 02:30] Kaspanitz commented on #119
Could a dropdown option, to be used at the start of a review, to optimize for security, reliability or minimize cost be added?
(Cost would obviously not be minimized if security and reliability optimization are selected, we can add a note to explain this, just in case it is not clear). We do see use cases for different designs, e.g. cost optimized for PoC implementations, sandboxes, etc. Relating

[2022-02-27 06:35] erjosito commented on #11
These Python modules might help: https://www.xlwings.org and https://openpyxl.readthedocs.io

[2022-02-28 07:54] #126 closed

[2022-02-28 07:55] erjosito commented on #120
Closing this now, the original problem seems to be fixed

[2022-02-28 07:55] #120 closed

[2022-02-28 07:56] erjosito opened #127 ""Use federated keyvault"?"
Hey there, a0477a20-9945-4bda-9333-4f2491163418 item in the LZ review checklist says "Use a federated Azure Key Vault model to avoid transaction scale limits". I can't seem to be able to find what a "federated AKV model" means.  Does this mean "separated AKV instances per app"?

[2022-02-28 07:57] erjosito commented on #127
@JasonBeck2 @kiwibayer @rjfmachado @alejandra8481 @huberthk @akasnik

[2022-03-07 20:58] #127 closed

[2022-03-10 12:49] fskelly opened #135 "New data structure to support combined ARG Query"
Can we please look at adding an additional column to support "combined" compliant and non-compliant queries.
@erjosito is aware of the ask :)

[2022-03-16 23:44] sdolgin commented on #76
I've got a fix that uses pwsh in the GH actions workflow to fix the JSON files.  Please review the [update-resource-translator](https://github.com/Azure/review-checklists/tree/update-resource-translator) branch

[2022-03-17 09:35] erjosito commented on #76
The `changes` step in the action doesnt seem to be getting the list of the changed files correctly, it looks like the variable `github.event.pull_request.base.sh` is empty at execution time

[2022-03-21 09:15] erjosito commented on #76
Fixed by #141!

[2022-03-21 09:15] #76 closed

[2022-03-21 09:16] erjosito commented on #135
@fskelly I have modified the Excel, the checklists and the script, it would be great if you could have a look...

[2022-03-21 09:17] erjosito opened #155 "Translation action modifying GUIDs"
For example, if you look at PR #153 you can see that the translator tried to modify the GUIDs of some of the items. It translates as well the Graph queries, which is obviously wrong.

[2022-03-21 09:18] erjosito commented on #155
Related to #92

[2022-03-23 20:26] JasonBeck2 opened #158 "Inconsistent 'Status Options' across the checklists"
The AKS checklist has the following status options: Not verified, Open, Fulfilled, Not required, N/A. All other checklists have the same options except for 'Not required', which also causes the use experience for these checklists to see 'N/A' show up twice in the dropdown when reviewing a checklist item in the spreadsheet because an empty spreadsheet still has Column H in the Values page is pre-po

[2022-03-30 07:36] ravibak opened #163 "Wording "enforce the use of RI""
This recommendation "Enforce the use of reserved instances to prioritize reserved capacity in required regions. Then the workload will have the required capacity even when there's a high demand for that resource in a specific region"

Seems to suggesting there is a way to "Enforce" RI using things like Azure Policy, is there any ?
If not, we should remove the word enforce in my opinion.

[2022-04-08 19:03] SRINI-THUMALA opened #173 "Status drop box is not available after line item 153 in the checklist."
In the landing zone checklist the Status drop box which has three options (Open, Fulfilled and NA) is not available after the Line item 153 which needs to be fixed.

[2022-04-11 11:47] erjosito commented on #173
Thanks @SRINI-THUMALA for opening an issue! We just released v1.1 with a new version of the spreadsheet that should have that fixed, could you please check?
Thanks!

[2022-04-11 13:05] SRINI-THUMALA commented on #173
Hi Jose (@erjosito ), Thank you for fixing this in short notice. It all looks good now.

[2022-04-11 14:24] JasonBeck2 commented on #158
This issue has been resolved.

[2022-04-11 14:24] #158 closed

[2022-04-11 16:41] #173 closed

[2022-04-12 07:11] erjosito commented on #119
Now that we have published 1.1, at the top right of the checklist there are some green bar indicators. The AKS checklist has some additional metadata, that indicates whether a specific recommendation has a positive or negative impact in certain areas:

- Resiliency (`ha`)
- Cost (`cost`)
- Simplicity (`simple`)
- Security (`security`)
- Scalability (`scale`)

Fulfilling a recommendation that only

[2022-04-12 07:15] erjosito commented on #13
Somehow relevant to this, I have started playing with the automatic generation of macro-free .xlsx files, have a look in the `spreadsheet` folder.

I am using the Python module `openpyxl`, it does not support all Excel features so I needed to simplify the spreadsheet, but the result is IMHO acceptable.

[2022-04-12 07:16] erjosito commented on #11
I have started playing with the automatic generation of macro-free .xlsx files, have a look in the `spreadsheet` folder. I am using the Python module `openpyxl`, it does not support all Excel features so I needed to simplify the spreadsheet, but the result is IMHO acceptable.

[2022-04-12 07:17] erjosito commented on #11
Related to #13 and #68

[2022-04-12 07:18] erjosito commented on #14
The prototype for the web UI is in https://aka.ms/ftaaas, source code in https://github.com/Azure/fta-aas. Closing this one...

[2022-04-12 07:18] #14 closed

[2022-04-26 09:45] erjosito opened #181 "Improve prioritization of LZ checklist"
Existing LZ checklist has most of the items classified as "Medium". We should probably objectively decide what the three different levels mean, and reclassify the checks.

For example, as description of the levels something like:

- High: mandatory recommendation, regardless of customer requirements
- Medium: this recommendation can have a large impact in the design, but it is not necessarily mand

[2022-04-26 09:48] erjosito opened #182 "Review wording of LZ checklist recommendations"
Depending on #181 (since we should start with high prio items), we might want to review the wording of the different checks in the LZ checklist, since some of them could be rephrased more clearly.

[2022-04-26 09:50] erjosito opened #183 "Add more Azure Resource Graph queries to LZ checklist"
Depending on #181 , since we probably want to start with high-prio items. Today we are in a pretty good shape in the AKS checklist regarding ARG queries, but the LZ checklist is still pretty short. The Contributing guide has some information on how to add queries: https://github.com/Azure/review-checklists/blob/main/CONTRIBUTING.md#adding-resource-graph-queries

[2022-05-10 20:16] MGodfrey50 opened #198 "Error on download"
Error when downloading the file

"Excel cannot open the file 'review_****.xlsm' because the file format or file extension is not valid.   Verify that the file has not been corrupted and that the file extension matches the format of the file."

Multiple people, multiple locations.

[2022-05-12 14:43] sdolgin commented on #198
@MGodfrey50 - as a workaround there are now "static" / non-macro xlsx files being generated under the [/spreadsheet](https://github.com/Azure/review-checklists/tree/main/spreadsheet) path. Hope that helps!

[2022-05-18 23:47] hamish-omny opened #203 "Running ./checklist_graph.sh --technology=lz--format=json results in a number of compliant=undefined results"
I ran `./checklist_graph.sh --technology=lz--format=json` in a azure cloud bash shell, but a number of the results had  `"compliant": "undefined"`. After a quick look it appears a number of the graph queries in lz_checklist.en.json use `Compliant` as the projected column (e.g https://github.com/Azure/review-checklists/blob/main/checklists/lz_checklist.en.json#L135), but `checklist_graph.sh` seems

[2022-06-03 22:07] mbrat2005 opened #214 "ARG - Add graph query for 'Enforce or appended resource tags through Azure Policy'"
Add an ARG query for the LZ checklist item 'Enforce or appended resource tags through Azure Policy'.

Write the query to determine whether Policy Assignments exist at the graph query scope for Policies which require or modify resource tags. If assignments exist, return a list of assignment IDs and compliance value '1'

@fskelly
Still testing this, I'll add it to a PR when completed:
policyresource

[2022-06-21 12:15] erjosito commented on #198
The problem seems to appear when you download the spreadsheet to onedrive, since Defender is blocking the opening of xlsm exceptions. One workaround would be downloading the spreadsheet to your C:\ drive.

I am testing with adding an exclusion to Azure Defender for the onedrive folder, but it doesnt seem to work.

[2022-06-24 15:02] sdolgin opened #223 "Capture more detailed usage metrics"
To better understand how often the review checklists are being used, we should track the download of JSON files in detail. These metrics can be used to detect trends in usage, which is valuable feedback.

We'd like to know:
- How many times did each JSON file get imported into the worksheet per month?
- Are there any increases month over month in requests for landing zone, security, avd, etc?
- Ar

[2022-06-28 07:02] erjosito commented on #214
This is a serious KQL query @mbrat2005 !!

[2022-06-28 07:11] erjosito commented on #203
CC @fskelly
@hamish-omny I have created PR #226 to fix this

[2022-06-28 07:17] fskelly commented on #214
Possible to get a screenshot of the output? Mine is not showing the compliant field - could be my environment. If I then leave the last line in i get an error :( - but I do love the query 👍

Error:
Details:
Query is invalid. Please refer to the documentation for the Azure Resource Graph service and fix the error before retrying. (Code:InvalidQuery)
Regex pattern is ill-formed: tags[ (Code:IllForme

[2022-06-28 13:51] mbrat2005 commented on #214
@fskelly, in testing, the query seems to work well in the ARG Explorer in the Portal (for me!), but not in a PowerShell or Azure CLI terminal. I'll see if I can run down those inconsistencies...

The query as written either returns a list of compliant assignments, or nothing.

[2022-06-28 14:27] mbrat2005 commented on #214
@fskelly
See if these version test better. I replaced the 'tags[' regex with 'tags[[]', which seems to make PowerShell happy. I also replaced double quoting with single quoting and confirmed that Azure CLI doesn't like multi-line queries. If you're not getting any results but have tagging policies assigned, double check that the scope of your query should include the assignment.

**ARG Explorer or

[2022-07-01 08:33] #214 closed

[2022-08-04 20:18] mbrat2005 opened #234 "Consider adding a version number to checklists"
Currently, when checklists are shared around, there is no indication of when the checklist content was imported. For example, if an XLSX file is being passed around to bypass client-side restrictions on macros, the spreadsheet may contain outdated content depending on when it was generated.

Consider adding a version number or "Imported Date" to the pre-generated XLSX files and to the macro import

[2022-08-04 20:31] mbrat2005 commented on #163
I've read this one to refer to enforcing the use of VM SKUs for which RIs have been purchased--which could be done with Policy.

Perhaps this wording? "Use Reserved Instances where appropriate to optimize cost and ensure available capacity in target regions. Enforce the use of purchased Reserved Instance VM SKUs via Azure Policy. "

[2022-08-05 06:55] erjosito commented on #163
Looks good! Would you send a PR for this?

[2022-08-05 09:00] ravibak commented on #163
Sent a PR.  apologies I forgot about this after I raised.

I assume I needed to send PR for the [lz_checklist.en.json](https://github.com/Azure/review-checklists/blob/main/checklists/lz_checklist.en.json)

[2022-08-08 12:15] cheahengsoon opened #239 "How to generate the graph result from Azure"
Hi Team,
May I ask about to generate the graph result from Azure?
What is the Query needed to Write to match with the review checklist and convert to json?

Thank you

[2022-08-08 17:27] sdolgin commented on #239
Hi @cheahengsoon -

Take a look at the readme section on [Using Azure Resource Graph to verify Azure environments (advanced)](https://github.com/Azure/review-checklists#using-azure-resource-graph-to-verify-azure-environments-advanced) if you haven't already.  There is also a shell script which has it's [basic use described here](https://github.com/Azure/review-checklists/blob/main/scripts/README.m

[2022-08-08 23:09] cheahengsoon commented on #239
Not understand for this --technology=aks , can list all the technology ?

[2022-08-10 12:47] sdolgin commented on #239
@cheahengsoon the `--technology` argument specifies the type of technology or checklist to run the graph queries from.
Accepted values are lz, aks and avd and the default is aks.

lz = landing zone review
aks = AKS review
avd = AVD review

[2022-08-11 09:39] cheahengsoon commented on #239
How about security?

[2022-08-15 12:04] CalCof opened #240 "Assessment platform and WAF alignment"
It is highly likely that these efforts around review checklists would be better invested within the assessment platform and WAF service checklists, rather than an independent github repository since it ultimately represents a duplication of effort, content, and presents a disjointed customer experience overall. The content organisation (Dom Allen) will be able to partner with you to better integra

[2022-08-15 12:55] sdolgin commented on #239
Currently there are no resource graph queries in the security checklist [JSON file](https://github.com/Azure/review-checklists/blob/main/checklists/security_checklist.en.json), so it is moot.  If we get to a point where there are queries contributed for the security recommendations the shell script could be updated to run them as well.

[2022-08-17 12:42] #239 closed

[2022-08-17 12:43] cheahengsoon commented on #239
The command not working `./checklist_graph.sh --technology=aks --format=json > ./graph_results.json`

[2022-08-17 19:10] kinomakino opened #241 "cant work with the script from azure cloud shell"
**execution 1**

./checklist_graph.sh --technology=aks --format=json > ./graph_results.json
ResourceUnavailable: Program 'checklist_graph.sh' failed to run: An error occurred trying to start process '/home/joaquin/checklist_graph.sh' with working directory '/home/joaquin'. No such file or directoryAt line:1 char:1
+ ./checklist_graph.sh --technology=aks --format=json > ./graph_results …
+ ~~~~~~~~

[2022-08-18 13:52] sdolgin commented on #241
Hi @kinomakino - It seems you might be trying to execute the Bash script from within the PowerShell environment. If you change the [environment selection](https://docs.microsoft.com/en-us/azure/cloud-shell/overview#choice-of-preferred-shell-experience) in Cloud Shell to Bash it should work.  I have updated the script readme to clarify this.

[2022-08-18 13:52] #241 closed

[2022-08-18 14:23] erjosito commented on #240
Hey @CalCof thanks for your feedback! We have evaluated the usage of the Microsoft Assessments platform to replace this framework, but unfortunately at this point in time it would be very difficult:

- Our checklists' primary goal is to serve as guidance for our engineers and our customers in FastTrack engagements. The current format of the assessment makes it very difficult to serve for this purp

[2022-08-21 01:23] cheahengsoon opened #242 "Security Query for Resource Graph"
Hi Team,

May I ask about what is the security query for resource graph?

Thank you

[2022-08-27 02:23] #242 closed

[2022-08-27 02:27] cheahengsoon opened #243 "Include resource graph queries in the security checklist"
Hi Team,

I would like to request to include the resource graph queries in the security checklist,
because I only saw --technology=lz|aks|avd .

[2022-10-04 11:48] erjosito opened #255 "Translation process breaks"
We have errors running on the Github action resulting after a successful PR to the AVD checklist. For example:

https://github.com/Azure/review-checklists/actions/runs/3180533115/attempts/3

The translation job typically run in under 2 minutes, but in this case the job takes longer than 10 minutes.

The error seems to indicate a problem with JavaScript heap memory. I have tried the workaround desc

[2022-10-04 11:49] erjosito commented on #255
CC @mikewarr

[2022-10-04 11:52] erjosito commented on #255
Translation of other checklists seems to be working fine, here verified with AKS:
- Github action job: https://github.com/Azure/review-checklists/actions/runs/3181856224 (run in 37 secs)
- Generated PR https://github.com/Azure/review-checklists/pull/254

[2022-11-16 14:38] CarlH2 opened #268 "Download command issue"
Hi, I tried to utilise he script provided however it failed with Permission Denied.  As I am not really a Bash user (PowerShell is my thing) it took me some time to realise the issue relates to the provided to download the script and the permissions on the script file were insufficient.  I think the chmod command should probably be chmod +xr rather than chmod +x

wget –quiet –output-document ./che